@import "bootstrap-sprockets";
@import "bootstrap";

// colors
$color_concrete_approx: #f3f3f3;
$color_chartreuse_approx: #74df00;

body {
  margin-top: 100px;
}
hr {
  margin:40px 0;
}
h3 {
  color:#1758AA
}
h3 span {
  font-size:14px;
  display:block;
}
span[ng-click] {
  cursor: pointer;
}
.ngCart.cart span[ng-click] {
  cursor: pointer;
}
.ngCart.cart .glyphicon.disabled {
  color: #aaa;
}
ul.dropdown-cart {
  min-width: 250px;
  li {
    .item {
      display: block;
      padding: 3px 10px;
      margin: 3px 0;
      &:hover {
        background-color: $color_concrete_approx;
      }
      &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
      }
    }
    .item-left {
      float: left;
      img {
        float: left;
      }
      span.item-info {
        float: left;
        margin-left: 10px;
        span {
          display: block;
        }
      }
    }
    .item-right {
      float: right;
      button {
        margin-top: 14px;
      }
    }
  }
}
.product {
  padding: 15px;
}
.add-to-cart {
  width: 100%;
}
